{% extends "plantillas/base_2.html" %}

{% block titulo %} Pacientes {% endblock %}

{% block contenido %} 

<div class="div_tablas_formularios">
    <div class="div_tabla">
        <div class="div_titulo_seccion">
            <p>Lista de terapias</p>
        </div>

        <div style="margin: 2%;">
            <p style="font-size: x-large;">Datos del paciente</p>
            <p style="font-size: large;">Nombre: {{ paciente.nombre }} {{ paciente.apellido }}</p>
            <p style="font-size: large;">Diagnostico medico: {{ paciente.diagnostico_medico }}</p>
            <p style="font-size: large;">Fecha de inicio de terapias: {{ paciente.fecha_inicio_terapia }}</p>
            <p style="font-size: large;">Plan de terapias: {{ paciente.plan_terapia }}</p>
        </div>

        <div class="tabla">
            <table class="table table-default">
                <thead>
                    <tr>
                        <th scope="col">Fecha y hora de inicio</th>
                        <th scope="col">Fecha y hora de termino</th>
                        <th scope="col">Actividad realizada</th>
                    </tr>
                </thead>
                <tbody>

                    {% for terapia in terapias %}

                    <tr class="">
                        <td>{{ terapia.fecha_hora_inicio | date:'d-m-Y' }}</td>
                        <td>{{ terapia.fecha_hora_fin | date:'d-m-Y'  }}</td>
                        <td>{{ terapia.actividad_realizada }}</td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}